minimum-release-age=0
minimum-release-age-exclude[]=local-pkg
minimum-release-age-exclude[]=@exodus/bytes
minimum-release-age-exclude[]=@exodus/*
minimum-release-age-exclude[]=vue-i18n
registry=https://registry.npmmirror.com/